@font-face{
    font-family: "Montserrat-ExtraBold";
    font-optical-sizing: 50px;
    font-weight: 800;
    font-style: normal;
    src: url("fonts/montserrat/Montserrat-ExtraBold.ttf");
}
/* buttons */
@font-face{
    font-family: "Montserrat-Bold";
    font-optical-sizing: 16px;
    font-weight: 700;
    font-style: normal;
    src: url("fonts/montserrat/Montserrat-Bold.ttf");
}
/* хлебные крошки */
@font-face{
    font-family: "Montserrat-Regular";
    font-optical-sizing: 16px;
    font-weight: 400;
    font-style: normal;
    src: url("fonts/montserrat/Montserrat-Regular.ttf");
}
/* text */
@font-face{
    font-family: "Roboto-Regular";
    font-optical-sizing: 18px;
    font-weight: 400;
    font-style: normal;
    src: url("fonts/roboto/Roboto-Regular.ttf");
}
/* subtitle */
@font-face{
    font-family: "Roboto-Medium";
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    src: url("fonts/roboto/Roboto-Medium.ttf");
}
/* nav */
@font-face{
    font-family: "Roboto-Bold";
    font-optical-sizing: 16px;
    font-weight: 700;
    font-style: normal;
    src: url("fonts/roboto/Roboto-Bold.ttf");
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F6F6;
}
.Container, .HeaderWrapper{
    margin: 0 auto;
}

h1, h2, h3{
    font-family: "Montserrat-ExtraBold";
}
h5{
    font-family: "Roboto-Medium";
}
p{
    font-family: "Roboto-Regular";
}
/* Adaptiv */
@media (max-width: 1920px){
    .Container{
        width: 1280px;
    }
    .HeaderWrapper{
        width: 1280px;
    }
}
@media (max-width: 1280px){
    .Container{
        width: 1162px;
    }
    .HeaderWrapper{
        width: 1162px;
    }
    .HeaderNavigation{
        width: 1280px;
        margin: 0 auto;
    }
    h1{
        font-size: 40px !important;
    }
    .StartScreen-BackgroundFigure1{ 
        background-image: url("image/bg/figureLight1280.png") !important; 
        width: 715px !important;
        height: 670px !important;
        top: -110px !important;
        left: 563px !important;
    }
    .StartScreen-BackgroundFigure2{
        background-image: url("image/bg/figure1280.png") !important;
        width: 946px !important;
        height: 856px !important;
        top: -110px !important;
        left: 606px !important;
    }
    .StartScreen-BackgroundImage{
        background-image: url("image/bg/bgImg1280.png") !important;
        width: 670px !important;
        height: 560px !important;
        top: -20px !important;
        left: 551px !important;
    }
    .StartScreen-Content-Image{
        width: 445px !important;
        
        height: 384px !important;
        top: -12px;
        left: 518px;
    }

}
@media (max-width: 1024px){
    .Container{
        width: 964px;
    }
    .HeaderWrapper{
        width: 1280px;
    }
}
/* Header */
.Header{
    background-color: #fff;
    z-index: 50;
    border-bottom: 1px solid #E0E0E0;
    
}

.HeaderContent{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #CEEEF2;

}
.HeaderLogo{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 27px;
    margin-top: 21px;
}
.HeaderLogo-Slogan, .HeaderLogo-Line{
    margin-top: 14px;
}
.HeaderSearch{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 6px;
}
.SearchBox{
    position: relative;
}
.SearchBox Input.active{
    border: 1px solid #BDBDBD;
    padding-left: 30px;
}
.SearchBox Input{
    width: 366px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    padding-left: 11px;
    font-family: "Roboto-Regular";
    transition: all 0.5s;
}
.SearchIcon{
    background-image: url("image/items/searchIcon.svg");
    width: 17px;
    height: 17px;
    position: absolute; 
    top: 50%; 
    left: 347px; 
    transform: translateY(-50%);
    transition: all 0.8s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.SearchIcon.active{
    left: 9px; 

}
.CancelIcon{
    background-image: url("image/items/closeIcon.svg");
    width: 18px;
    height: 18px;
    position: absolute; 
    top: 50%; 
    left: 373px; 
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.CancelIcon.active{
    opacity: 1;
    transform: translateY(-50%) rotate(360deg);
}
.HeaderSearch-Icon{
    width: 20px;
    height: 18px;
}

.HeaderNavigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderNavigation ul li{
    text-decoration: none;
    list-style: none;
    font-family: "Roboto-Bold";
    color: #333333;
    padding-top: 24px;
    padding-bottom: 25px;
}
.Elem1-Icon{
    width: 16px;
    height: 10px;
}
.HeaderNavigation-Elem1{
    display: flex;
    gap: 15px;
    align-items: center;

}
.HeaderNavigation-Elem1_focused{
    background-color: #CEEEF2;
    padding-left:31px;
    padding-right: 52px;
    border-bottom: 2px solid #46C0C1;
}
.HeaderNavigation-Elem2,
.HeaderNavigation-Elem3,
.HeaderNavigation-Elem4,
.HeaderNavigation-Elem5,
.HeaderNavigation-Elem6
{
    text-align: center;
    transition: all 0.5s
}

.HeaderNavigation-Elem2_hover:hover,
.HeaderNavigation-Elem3_hover:hover,
.HeaderNavigation-Elem4_hover:hover,
.HeaderNavigation-Elem5_hover:hover,
.HeaderNavigation-Elem6_hover:hover,
.HeaderNavigation-Elem7_hover:hover,
.HeaderNavigation-Elem8_hover:hover{
    color: #46C0C1;
    border-bottom: 2px solid #46C0C1;
}
.HeaderNavigation-Elem7{
    position: relative;
}
.Elem7-Icon{
    background-image: url("image/items/mapIcon.svg");
    width: 13px;
    height: 18px;
    position: absolute; 
    top: 36%; 
    left:49px; 
}
.HeaderNavigation-Elem7, .HeaderNavigation-Elem8{
    text-align: right;
    transition: all 0.5s
}

/* main */
.StartScreen{
    position: relative;
    padding-top: 23px;
}
.StartScreen-BackgroundImage{
    z-index: -10;
    background-image: url("image/bg/bgImg.png");
    background-repeat: no-repeat;   
    width: 1042px;
    height: 868px;
    top: -170px;;
    left: 563px;
    position: absolute; 
}
.StartScreen-BackgroundFigure1{
    z-index: -10;
    background-image: url("image/bg/figureLight.png");
    background-repeat: no-repeat;
    width: 1013px;
    height: 895px;
    position: absolute; 
    top: -170px;;
    left: 587px; 
}
.StartScreen-BackgroundFigure2{
    z-index: -10;
    background-image: url("image/bg/figure.png");
    background-repeat: no-repeat;
    width: 946px;
    height: 856px;
    position: absolute; 
    top: -170px;;
    left: 653px;
}
.Breadcrumbs{
    display: flex;
    gap: 10px;
}
.Breadcrumbs-Text{
    text-decoration: none;
    font-family: "Montserrat-Regular";
    color: #BDBDBD;
;
}
.Breadcrumbs-Text span{
    padding-right: 10px;
}
.Breadcrumbs-Text:hover{
    color:#46C0C1;
}
.Breadcrumbs-Home{
    background-image: url("image/items/homeIcon.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 19px;
}
.Breadcrumbs-Home:focus{
    background-image: url("image/items/homeIconactive.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 21px;
}
.Breadcrumbs-Text:focus{
    color:#46C0C1;
}

.Content{
    position: relative;
    display: block;
}
.StartScreen-Content-Image{
    background-image: url("image/introImg.png");
    position: absolute; 
    width: 692.17px;
    height: 597.36px;
    top: -12px;
    left: 518px;
}
.Content-H1{
    margin-top: 74px;
    margin-bottom: 20px;
    font-size: 50px;
}
.Content-H5{
    font-size: 24px;
    margin-bottom: 22px;
}
.Content-Text{
    font-size: 18px;
    line-height: 26px;
    width: 500px;
    margin-bottom: 20px;
}
.Content-Action{
    display: flex;
    width: 316px;
    justify-content: space-between;
    align-items: center;
}
.Content-Action .Button{
    width: 196px;
    height: 46px;
    padding: 12px 48px;
    background-color: #46C0C1;
    border: none;
    border-radius: 50px;
    font-family: "Montserrat-Bold";
    text-align: center;
    color: #fff;
    font-size: 16px;
    transition: all 0.5s;
    transition-timing-function: ease-out;
}
.Content-Action .Button:hover{
    background: #F6F6F6;
    border: 1px solid #46C0C1;
    color: #46C0C1;
}
.Content-Action .Link a{
    text-decoration: none;
    border-bottom: 3px dotted #46C0C1;
    padding-bottom: 2px;
    font-family: "Montserrat-Bold";
    text-align: center;
    color: #46C0C1;
    font-size: 16px;
}

.StartScreen-Content-Nav{
    display: flex;
    width: 333px;
    justify-content: space-between;
    margin-top: 152px;
}
.StartScreen-Content-Nav-Arrows{
    display: flex;
    gap: 77px;
}
.StartScreen-Content-Nav-Ellipses{
    display: flex;
    align-items: center;
    gap: 30px;
}

/* section Advantades */

.Advantages{
    margin-top: 137px;
}

.Advantages-Block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 255px;
}
.Advantages-Block div{ 
    width: 208px;
    text-align: center;
    color: #4F4F4F;
}

.Advantages-Block div p{ 
   padding-top: 15px;
}

/* section Annotation */
.Annotation{
    margin-top: 82px;
    position: relative;
}
.Annotation-BackgroundLine{
    background-image: url("image/items/linePink.svg");
    position: absolute; 
    width: 78px;
    height: 2px;
    top: 22px;
    left: -103px;
}
.Annotation-BackgroundFlower{
    z-index: -10;
    background-image: url("image/bg/flower.png");
    position: absolute; 
    width: 372px;
    height: 593px;
    top: -54px;
    left: 1044px;
}
.Annotation-H2{
    font-size: 36px;
    color: #333333;
    margin-bottom: 23px;
}
.Annotation-Text{
    color: #4F4F4F;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 15px;
    width: 835px;
}
.Annotation-H3{
    width: 850px;
    color: #F4ACBA;
    font-size: 20px;
    line-height: 28px;
}
/* section Products */
.Products{
    margin-top: 98px;
    position: relative;
}
.Products-BackgroundFlower{
    background-image: url("image/bg/flower2.png");
    background-repeat: no-repeat    ;
    position: absolute; 
    width: 540px;
    height: 540px;
    top: 1109px;
    left: -317px;
}
.Products-Block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 41px;
    row-gap: 62px;
}
.Product{
    width: 400px;
    height: 635px;
    background-color: #fff;
    border-radius: 20px;
}
.Products-H2{
    font-size: 36px;
    margin-bottom: 23px;
}
.Product-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 13px;
}
.Product-Header .Button{
    height:28px;
    border-radius: 5px;
}
.Button_new{
    background-color: #DEA1D2;
    width: 97px;
}
.Button_sale{
    background-color: #97E0C5;
    width: 79px;
}
.Button_hit{
    background-color: #F4ACBA;
    width: 123px;
}
.Product-Header .Button p{
    font-family: "Montserrat-Bold";
    font-size: 14px;
    color:#fff;
    text-align: center;
    padding: 6px 15px;
}
.Product-Header .Icon{
    padding-right: 23px;
}
.Product-Slider{
    margin: 0 65px;
    margin-top: -14px;
}
.Product-Slider-Circles{
    display:flex;
    justify-content: center;
    gap: 3px;
    margin-top: 11px;
}
.Product-Slider-Circles div{
    width: 8px; 
    height: 8px;
    background: #c3c3c3;
    border-radius: 50%;
}
.Circle_focused{
    background: #868686 !important;
}
.Product-Content{
    margin: 12px 24px 37px 20px;
}
.Product-Content h3{
    font-size: 20px;
    color: #333333;
    margin-bottom: 22px;
}
.Count{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;    
}
.Count .Dose{
   padding-right: 24px;
}
.Count p{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #828282;
}
.Product-Content-Text{
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;  
}
.Components{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.Components div{
    width: 112px;
    height: 139px;
    text-align: center;
    margin: 0 auto;
}
.Component p{
    padding-top: 21px;
}
.Product-Button{
    width: 350px;
    height: 50px;
    border-radius: 50px;
    background: none;
    border: 1px solid #46C0C1;
    font-family: "Montserrat-Bold";
    color: #46C0C1;
    font-size: 16px;
    margin: 0 25px;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}

.Product-Button:hover{
    background: #46C0C1;
    color: #fff;
}