@import './partials/header.scss';
@import "colors";
@import "default";


.start-screen{
  position: relative;
  padding-top: 23px;
}
.bread-crumbs{
  display: flex;
  gap: 10px;

  &__home{
    stroke: $lite-gray;
    fill:none;
    @include ts;

    &:hover, &:focus{
      stroke: $primary-color;
      fill: $primary-color;
    }
  }
 
  &__text{
    @include text-breadcrumbs;
    @include ts;

    span{
      padding-right: 10px;
    }

    &:hover, &:focus{
      color: $primary-color;
    }
  }
}

.content{
  display: flex;
}
